<link rel="stylesheet" href="/css/busca.css">

<body class="body-busca">
    <div class="caixaa-busca-volta">
        <a class="arrow-busca" href="/calendar"><i class="fas fa-arrow-left"></i></a>
       <div class="caixa-busca">
         <input type="text" name="search" id="" placeholder="Buscar o cliente...">
         <button class="btn-busca" type="submit">
         <img class="busca-input" src="/svg/busca.svg" alt="">
       </button>
       </div>
    </div>
</body>