<link rel="stylesheet" href="/css/home.css">
<body class="home">

    <div class="home-conteudo" >
      Entrando no Los Hotel...
      <div class="spinner"></div>
    </div>
    
    <script src="/js/loading.js"></script>
</body>

