<link rel="stylesheet" href="/css/reservado.css">

<body class="caixa-reservado">
    <div class="cont-reservado">
        <h1>Quarto Reservado</h1>
        <aside class="cont-cliente">
            <p>Nome do Cliente:</p>
            <p>E-mail ou CPF:</p>
            <p>Número de Telefone:</p>
        </aside>
        <div class="resultHorario">
            <h2>Data de Check-in e Check-out:</h2>
            <div class="check-in">
                <h3>Check-in:</h3>
                <h3 id="checkInDate">00/00</h3>
                <h3 id="checkInTime">00:00hr</h3>
            </div>
            <div class="check-out">
                <h3>Check-out:</h3>
                <h3 id="checkOutDate">00/00</h3>
                <h3 id="checkOutTime">00:00hr</h3>
            </div>
        </div>
       <a href="/calendar">
        <button class="voltar-btn">voltar</button>
        </a>
    </div>

</body>